<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
      <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover">
          <div class="media align-items-end profile-head">
            <div class="profile mr-3"><img src="assets/img/doctors/doctors-3.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="/changeAccountInfo" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
            <div class="media-body mb-5 text-white" >
              <h4 class="mt-0 mb-0">{{phAdmin.name}} {{phAdmin.lastName}} </h4>
              <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{phAdmin.cityName}}, {{phAdmin.countryName}}</p>
            </div>
          </div>
        </div>
        <div class="bg-light p-4 d-flex justify-content-end text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a title="See Pharmacy reports" href="/reports"><img title="See Pharmacy reports" src="/assets/img/medicalstuff_icons/report.png" ></a>
            </li>
            <li class="list-inline-item">
              <a title="Create employees" href="/createPharmacist"> <img title="Create employees" src="/assets/img/medicalstuff.png" ></a>
            </li>
            <li class="list-inline-item">
              <a title="Make drug order" href="/drugOrder"> <img alt="Make drug order" src="/assets/img/medicalstuff_icons/orderIcon.png" ></a>
            </li>
            <li class="list-inline-item">
              <a title="Change drugs in pharmacy" href="/drugInPharmacy"> <img alt="Change drugs in pharmacy" src="/assets/img/drugs.png" ></a>
            </li>
            <li class="list-inline-item">
                <a title="Change pharmacy info" href="/"> <img alt="Change pharmacy info" src="/assets/img/pharmacy.png" ></a>
              </li>
          </ul>
        </div>
      </div>
        <!--  PERSONAL INFORMATIONS -->
        <div class="px-4 py-3">
          <h5 class="mb-0">Personal informations</h5>
          <div class="p-4 rounded shadow-sm bg-light">
            <p class="font-italic mb-0">Address: {{phAdmin.street}} {{phAdmin.streetNumber}} </p>
            <p class="font-italic mb-0">Email: {{phAdmin.email}}</p>
            <p class="font-italic mb-0">Phone number: {{phAdmin.phoneNumber}}</p>
  
          </div>
        </div>
        <!--  Dermatologist -->
          <section id="doctors" class="doctors">
            <div class="container">
              <div class="row" >
                <div class="col-lg-7"  *ngFor="let derm of dermatologist">
                  <div class="member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/doctor.png" class="img-fluid" alt=""></div>
                    <div class="member-info">
                      <h4>{{derm.name}} {{derm.lastName}}</h4>
                      <span>Dermatologist</span>
                      <p>Phone number: {{derm.nummber}}</p>
                      <p>Email: {{derm.email}}</p>
                      <p>Average mark: {{derm.averageMark}}</p>
                      <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" [routerLink]="['/createExamination/',derm.email]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Add examination </a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
        </section>
        <div class="pt-5">

          <div class="section-title">
            <h2>Drug Price</h2>
            <button [hidden]="f" class="btn btn-dark mt-3 w-50" (click)="flag()"> See all drug Price </button>
          </div>
        <section id="doctors" class="doctors">
          <div [hidden]="!f" class="container">
            <div class="row" >
              <div class="col-lg-7"  *ngFor="let dp of drugPrice">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="assets/img/price.png" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>{{dp.drugName}} </h4>
                    <span>Drug price</span>
                    <p>Start date: {{dp.startDate}}</p>
                    <p>Enda date: {{dp.endDate}}</p>
                    <p [hidden]="change"> Price: {{dp.price}}</p>
                    <input  [hidden]="!change" type="text" id="price" class="form-control"  [(ngModel)]="dp.price" [ngModelOptions]="{standalone: true}"/>
                    <button  [hidden]="change" class="btn btn-dark mt-3 w-100" (click)="changPrice()" > Change </button>
                    <button  [hidden]="!change" class="btn btn-dark mt-3 w-100"  (click)="save(dp)" > Save </button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
      </section>
    </div>
    <div class="pt-5">
      <div class="section-title">
        <h2>Examination Price</h2>
        <button [hidden]="fExamination" class="btn btn-dark mt-3 w-50" (click)="flagExamination()"> See all examination price </button>
        <div>
        <button [hidden]="fExamination" class="btn btn-dark mt-3 w-50"  (click)="open(content)" >Create price for examination</button>
      </div>
    </div>
    <section id="doctors" class="doctors">
      <div [hidden]="!fExamination" class="container">
        <div class="row" >
          <div class="col-lg-7"  *ngFor="let dp of changeExaminationPrice">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/price.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{dp.examinationType}} </h4>
                <span>Examination price</span>
                <p>Start date: {{dp.startDate}}</p>
                <p>Enda date: {{dp.endDate}}</p>
                <p [hidden]="examinationFlag"> Price: {{dp.price}}</p>
                <input  [hidden]="!examinationFlag" type="text" id="price" class="form-control"  [(ngModel)]="dp.price" [ngModelOptions]="{standalone: true}"/>
                <button  [hidden]="examinationFlag" class="btn btn-dark mt-3 w-100" (click)="changExaminationPrice()" > Change </button>
                <button  [hidden]="!examinationFlag" class="btn btn-dark mt-3 w-100"  (click)="saveExaminationPrice(dp)" > Save </button>
              </div>
            </div>
          </div>
        </div>
      </div> 
  </section>
  </div>
  <div class="pt-5">
    <div class="section-title">
      <h2>Drug order</h2>
      <button [hidden]="drugOrderFlag" class="btn btn-dark mt-3 w-50" (click)="flagDrugOrder()"> See all drug order </button>
      <div>
    </div>
    <div [hidden]="!drugOrderFlag" class="ml-3">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="waitingForOffers" [(ngModel)]="waitingForOffers" [ngModelOptions]="{standalone: true}" [checked]="waitingForOffers" (change)="onChangeCheckBox()" />
        <label class="form-check-label" for="waitingForOffers" >Waiting for offers</label>
      </div>
  
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="processed" [(ngModel)]="processed" [ngModelOptions]="{standalone: true}" [checked]="processed" (change)="onChangeCheckBox()" />
        <label class="form-check-label" for="processed">processed</label>
      </div>
    </div>
  </div>
  <section id="doctors" class="doctors">
    <div [hidden]="!drugOrderFlag" class="container">
      <div class="row" >
        <div class="col-lg-7"  *ngFor="let dp of filterList">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/price.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>{{dp.drugOrderStatus}} </h4>
              <span>Drug order</span>
              <p>Deadline: {{dp.deadline}}</p>
              <p>Drug in order</p>
              <div *ngFor="let item of dp.drugorderItem">
                  <p  [hidden]="changeDrugOrder">{{item.name}} - {{item.quantity}}</p>
                  <input  [hidden]="!changeDrugOrder" type="text" id="price" class="form-control"  [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}"/>
              </div>
              <div [hidden]="s(dp)" >
                <button  [hidden]="changeDrugOrder" class="btn btn-dark mt-3 w-100" (click)="changDrugOrder()" > Change </button>
                <button  [hidden]="!changeDrugOrder" class="btn btn-dark mt-3 w-100"  (click)="changeAndSaveDrugOrder(dp)" > Save </button>
              </div>
              <div class="pt-2">
                <a [hidden]="s(dp)" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" [routerLink]="['/acceptDrugOffer/',dp.orderId]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">See offer</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </section>
  </div>
  <div class="pt-5"></div>
    <div class="section-title">
      <h2>Create promotion/action</h2>
      <button data-toggle="modal" data-target = "#promotion"   class="btn btn-dark mt-3 w-50"  > create </button>
      <div>
    </div>
  </div>
    <div class = "container mt-5" >
      <div class="section-title">
        <h2>Change pharmacy info</h2>
        <div>
      </div>
    </div>
     <div class="row pb-5">
        <label>Pharmacy name<input type="text" id="f" [(ngModel)]="pharmacy.name" [ngModelOptions]="{standalone: true}" class="form-control" /></label>
     </div>
     <div class="row pb-2">
        <label>Description <input type="text" id="s" [(ngModel)]="pharmacy.text" [ngModelOptions]="{standalone: true}" class="form-control" /> </label>
    </div>
    <div class="row pb-5">
      <button class="btn btn-dark w-50 mt-4" (click)="changePh()" > save</button>
  </div>
    
  <div class="container-fluid m-3" >

    <div class="section-title">
      <h2>You can find us easy</h2>
    </div>

    <div class="row  ">
      <div id="hotel_maps"></div>
    </div>
    <button class="btn btn-dark w-50 mt-4" (click)="saveMapLOcation()" > save location</button>
  </div>



    </div>
  </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create drugPrice</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row" >
              <div class="col-6" >
                  <label>Start day</label>
                  <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                  </ngb-datepicker>
                  <ng-template #t let-date let-focused="focused">
                      <span class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>
                    <label>Price <input type="number" id="price"  [(ngModel)]="examinationPRice.price" [ngModelOptions]="{standalone: true}"  class="form-control"/></label>
                    <label>Choose type</label>
                    <select class="custom-select" id="day" (change)="onChangeSelectedDate($event)">
                        <option value="Choose..." selected>Choose...</option>
                        <option  value="pharmacistConsultations">Pharmacist Consultations</option>
                        <option  value="dermatologistExamination">Dermatologist Examination</option>
                    </select>
                    <button  class="btn btn-dark mt-3 w-100"   (click)="createExaminationPrice()"> create </button>                        
              </div>
          </div>
      </div>
      <div class="modal-footer">
        
      </div>
  </ng-template>

 


  <div class="modal fade" id="promotion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Promotion/action  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Start day</label>
          <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
          </ngb-datepicker>
          <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          <div class="form-group">
            <label>Text promotion/action </label>
            <input type="text" id="price"  [(ngModel)]="promotion.text" [ngModelOptions]="{standalone: true}"  class="form-control"/>
          </div>
          <button  class="btn btn-dark mt-3 w-100"   (click)="createPromotion()"> create </button>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>





    <ngx-loading-x  [show]="fetchData"></ngx-loading-x>
  </div>
  
  
  