<div class="container  border w-100 pt-3">
    <div class="d-flex justify-content-center  bg-dark title">
        <h1 > Pharmacy Administrator</h1>  
    </div>

    <div class="container p-3">
        <div class="row ">
            <div class="col-4">
                <div class="row d-flex justify-content-center carde pb-2">
                    <img src="/assets/img/admin.png" class="img-responsive fit-image" max-widht="40%" alt="Responsive image">
                </div>
                <div class="row border">
                   <div class="col">
                    <label>Name: Aleksandar</label>
                   </div>
                   <div class="col">
                    <label>Surname: Stevanovic</label>
                    </div>
                </div>
                <div class="row border">
                    <div class="col">
                     <label>Username: phadmin@gmail.com </label>
                    </div>
                 </div>
                 <div class="row border">
                    <div class="col">
                     <label>Pharmacy: Apoteka Jovanovic</label>
                    </div>
                 </div>
                 <div class="row border">
                    <div class="col">
                     <label>City: Beograd  </label>
                    </div>
                 </div>
                 <div class="row d-flex justify-content-center border">
                    <button  type="button" class="btn btn-dark mt-3 w-100">Change info</button>
                 </div>


            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col"> 
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/login.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Pharmacy</h5>
                              <p class="card-text">Ovde ce ici tekst na neku foru</p>
                              <a href="#"class="btn btn-dark mt-3 w-100">More Info</a>
                            </div>
                          </div>    
                     </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/login.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Pharmacist</h5>
                                <p class="card-text">Ovde ce ici tekst na neku foru</p>
                                <a href="#"class="btn btn-dark mt-3 w-100">More Info</a>
                            </div>
                          </div>      
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/login.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dermatologist</h5>
                                <p class="card-text">Ovde ce ici tekst na neku foru</p>
                                <a href="#"class="btn btn-dark mt-3 w-100">More Info</a>
                            </div>
                          </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="col"> 
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/login.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Free Terms</h5>
                              <p class="card-text">Ovde ce ici tekst na neku foru</p>
                              <a href="#"class="btn btn-dark mt-3 w-100">More Info</a>
                            </div>
                          </div>    
                     </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/login.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Drugs list</h5>
                                <p class="card-text">Ovde ce ici tekst na neku foru</p>
                                <a href="#"class="btn btn-dark mt-3 w-100">More Info</a>
                            </div>
                          </div>      
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/login.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Price</h5>
                                <p class="card-text">Ovde ce ici tekst na neku foru</p>
                                <a href="#"class="btn btn-dark mt-3 w-100">More Info</a>
                            </div>
                          </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>