.profile-head {
    transform: translateY(5rem)
  }
  
  .cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
  }
  
  body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh
  }
  .wrapper {
    margin-top: 30px
  }
  
  .card {
    border: 1px solid #eee;
    cursor: pointer
  }
  
  .weight {
    margin-top: -65px;
    transition: all 0.5s
  }
  
  .weight small {
    color: #e2dede
  }
  
  .buttons {
    padding: 10px;
    background-color: lightgray;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
    opacity: 0;
    transition: all 0.8s
  }
  
  .dot {
    height: 14px;
    width: 14px;
    background-color: dimgray;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: dimgray;
    opacity: 0
  }
  
  .cart-button {
    height: 48px;
    background-color: dimgray;
    border: 1px solid dimgray;
  }
  
  .cart-button:focus {
    box-shadow: none
  }
  
  .cart {
    position: relative;
    height: 48px !important;
    width: 50px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    transition: 1s ease-in-out;
    overflow: hidden
  }
  
  .cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards
  }
  
  @keyframes item {
    0% {
      opacity: 1;
      top: 30%;
      left: 30%
    }
  
    25% {
      opacity: 1;
      left: 26%;
      top: 0%
    }
  
    50% {
      opacity: 1;
      left: 23%;
      top: -22%
    }
  
    75% {
      opacity: 1;
      left: 19%;
      top: -18%
    }
  
    100% {
      opacity: 1;
      left: 14%;
      top: 28%
    }
  }
  
  .card:hover .buttons {
    opacity: 1
  }
  
  .card:hover .weight {
    margin-top: 10px
  }
  
  .card:hover {
    transform: scale(1.04);
    z-index: 2;
    overflow: hidden
  }
  body {
    background: #eee
  }
  
  .ratings i {
    font-size: 16px;
    color: red
  }
  
  .strike-text {
    color: red;
    text-decoration: line-through
  }
  
  .product-image {
    width: 100%
  }
  
  .dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
  }
  
  .spec-1 {
    color: #938787;
    font-size: 15px
  }
  
  h5 {
    font-weight: 400
  }
  
  .para {
    font-size: 16px
  }
  .card .card-body{
    visibility: hidden;
    transform: translateY(-150px);
    height: 0px;
  }
  
  .card:hover .card-body{
    visibility: visible;
    transform: translateY(-10px);
    transition:.5s;
    height: auto;
  }
  