<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
      <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover">
          <div class="media align-items-end profile-head">
            <div class="profile mr-3"><img src="assets/img/doctors/doctors-3.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="/changeAccountInfo" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
            <div class="media-body mb-5 text-white" >
              <h4 class="mt-0 mb-0">{{phAdmin.name}} {{phAdmin.lastName}} </h4>
              <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{phAdmin.cityName}}, {{phAdmin.countryName}}</p>
            </div>
          </div>
        </div>
        <div class="bg-light p-4 d-flex justify-content-end text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a title="See Pharmacy reports" href="/"><img title="See Pharmacy reports" src="/assets/img/medicalstuff_icons/report.png" ></a>
            </li>
            <li class="list-inline-item">
              <a title="Create employees" href="/createPharmacist"> <img title="Create employees" src="/assets/img/medicalstuff.png" ></a>
            </li>
            <li class="list-inline-item">
              <a title="Make drug order" href="/drugOrder"> <img alt="Make drug order" src="/assets/img/medicalstuff_icons/orderIcon.png" ></a>
            </li>
            <li class="list-inline-item">
              <a title="Change drugs in pharmacy" href="/drugInPharmacy"> <img alt="Change drugs in pharmacy" src="/assets/img/drugs.png" ></a>
            </li>
            <li class="list-inline-item">
                <a title="Change pharmacy info" href="/"> <img alt="Change pharmacy info" src="/assets/img/pharmacy.png" ></a>
              </li>
          </ul>
        </div>
      </div>
        <!--  PERSONAL INFORMATIONS -->
        <div class="px-4 py-3">
          <h5 class="mb-0">Personal informations</h5>
          <div class="p-4 rounded shadow-sm bg-light">
            <p class="font-italic mb-0">Address: {{phAdmin.street}} {{phAdmin.streetNumber}} </p>
            <p class="font-italic mb-0">Email: {{phAdmin.email}}</p>
            <p class="font-italic mb-0">Phone number: {{phAdmin.phoneNumber}}</p>
  
          </div>
        </div>
        <!--  Dermatologist -->
          <section id="doctors" class="doctors">
            <div class="container">
              <div class="row" >
                <div class="col-lg-7"  *ngFor="let derm of dermatologist">
                  <div class="member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/doctor.png" class="img-fluid" alt=""></div>
                    <div class="member-info">
                      <h4>{{derm.name}} {{derm.lastName}}</h4>
                      <span>Dermatologist</span>
                      <p>Phone number: {{derm.nummber}}</p>
                      <p>Email: {{derm.email}}</p>
                      <p>Average mark: {{derm.averageMark}}</p>
                      <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" [routerLink]="['/createExamination/',derm.email]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Add examination </a>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
        </section>
        <div class="pt-5">

          <div class="section-title">
            <h2>Drug Price</h2>
            <button [hidden]="f" class="btn btn-dark mt-3 w-50" (click)="flag()"> See all drug Price </button>
          </div>
        <section id="doctors" class="doctors">
          <div [hidden]="!f" class="container">
            <div class="row" >
              <div class="col-lg-7"  *ngFor="let dp of drugPrice">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="assets/img/price.png" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>{{dp.drugName}} </h4>
                    <span>Drug price</span>
                    <p>Start date: {{dp.startDate}}</p>
                    <p>Enda date: {{dp.endDate}}</p>
                    <p [hidden]="change"> Price: {{dp.price}}</p>
                    <input  [hidden]="!change" type="text" id="price" class="form-control"  [(ngModel)]="dp.price" [ngModelOptions]="{standalone: true}"/>
                    <button  [hidden]="change" class="btn btn-dark mt-3 w-100" (click)="changPrice()" > Change </button>
                    <button  [hidden]="!change" class="btn btn-dark mt-3 w-100"  (click)="save(dp)" > Save </button>
                  </div>
                </div>
              </div>
            </div>
          </div> 
      </section>
    </div>
      <div class = "container" >
        <div id="pharmacies" style="margin-top: 50px; margin-bottom: 20px" class="section-title">
          <h2>Pharmacies</h2>
        </div>
        <div class = "row main-row row-cols-1 row-cols-sm-3 g-4" >
          <div lass = "col-12">
            <div class = "card p-1 text-center" style = "width: 20rem">
              <img src="/assets/img/pharmacy.jpg" class = "card-img-top shadow bg-white rounded">
              <h5 class ="card-title>">Apoteka 1</h5>
              <div class = "card-body">
                <p class = "card-text">Average mark 8.6 </p>
                <a class="btn-secondary"  class = "btn btn-outline-dark">See additional info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ngx-loading-x  [show]="fetchData"></ngx-loading-x>
  </div>
  
  
  