
<div class="container p-5">
  <div class="border border-secondary rounded mt-5" id="login_area">
    <div class="row">

      <div class="col" id="left_panel">
        <img src="/assets/img/login.png" class="m-5 p-5" width="450" height="550" alt="Responsive image">
      </div>

      <div class="col d-flex align-items-center mr-5">
        <form class="form-control-feedback w-100">
          <h2 class="d-flex justify-content-center text-dark">Sing in</h2>
          <div class="row d-flex justify-content-center mt-3">
            <div class="col-8">
              <label for="email" class="text-dark">E-mail</label>
              <input type="text" class="form-control" required="true" id="email"/>
              <label class="pt-3 text-dark" for="password">Password</label>
              <input type="password" class="form-control" required="true" id="password"/>
              <button id="login_button" type="button" class="btn btn-secondary mt-3 w-100">Sing in</button>

            </div>
          </div>
        </form>

      </div>
    </div>
  </div>


</div>




