<div class="container">
    <div class="text-left">
        <h3>My patients</h3>
    </div>
    <div class="table-wrapper-scroll-y my-scrollbar">
      <table class="table table-hover table-dark">
        <thead class="thead-dark">
          <tr>
            <th scope="col" sortable="id" (sort)="onSort($event)">#</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
            <th scope="col" sortable="lastName" (sort)="onSort($event)">Lastname</th>
            <th scope="col" sortable="examinationDate" (sort)="onSort($event)">Examination date</th>
            <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
            <th scope="col" sortable="phoneNumber" (sort)="onSort($event)">Phone number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let patient of patients'>
            <td>{{ patient.id}}</td>
            <td>{{ patient.name}}</td>
            <td>{{ patient.lastName}}</td>
            <td>{{ patient.examinationDate}}</td>
            <td>{{ patient.email}}</td>
            <td>{{ patient.phoneNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

