<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="/assets/img/appointment.png" alt=""/>
      <h3>Schedule your consultations with pharmacist</h3>
      <p>Here you can schedule consultations with our pharmacists</p>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading"></h3>
          <div class="row register-form ">
            <div class="col-md-6">
              <div class="form-group">
                <label for ="dat" >Select the date when you want to schedule a consultation:</label>
                <input type="date" min="2021-02-08" max = "2023-02-08" id ='dat' [(ngModel)]="date" class="form-control" >
              </div>
              <div class="form-group" >
                <label for="tim" >Choose time when you want to schedule a consulation on: {{date}}</label>
                <input type="time" min="08:00:00" max = "20:00:00" [(ngModel)]="time" id="tim" class="form-control" placeholder="Input quantity of drug">
              </div>
                <input style="width: 280px" type="submit" class="btnRegister" (click)="showPharmacies()"  value="See pharmacies wich have free term "/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class = "container" >
  <button *ngIf="pharmacies.length > 0" type="button" (click)="sortByAverageMark()" style="margin-top: 5px; margin-left:0px;" class="btn btn-outline-primary">Sort by average mark</button>
  <button *ngIf="pharmacies.length > 0" type="button" (click)="sortByAverageMark()" style="margin-top: 5px; margin-left:0px;" class="btn btn-outline-primary">Sort by price</button>

  <div class = "row main-row row-cols-1 row-cols-md-3 g-4" >
    <div lass = "col-12"  *ngFor="let pharmacy of pharmacies">
      <div class = "card p-3 text-center" style = "width: 20rem">
        <img src="/assets/img/pharmacy.jpg" class = "card-img-top shadow bg-white rounded">
        <h5 class ="card-title>">{{pharmacy.name}}</h5>
        <div class = "card-body">
          <p class = "card-text">Average mark {{pharmacy.averageMark}}</p>
          <p class = "card-text">City {{pharmacy.location.city.name}}</p>
          <p class = "card-text">Address {{pharmacy.location.address.street}} {{pharmacy.location.address.number}} </p>
          <p class = "card-text">Price 100$</p>
          <a class="btn-secondary"  class = "btn btn-outline-dark" [routerLink]="['/available-pharmacists/',pharmacy.name, date, time]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Choose</a>
        </div>
      </div>
    </div>
  </div>
</div>




