<div class="container p-5" >
  <div >
    <div>
      <h1 class="d-flex justify-content-center font-weight-bold text-dark">Add new drug</h1>
    </div>

    <div class="d-flex justify-content-center pt-4">
      <form class="form-control-feedback w-50">
        <div>
          <label for="name" class="text-dark" >Name of drug:</label>
          <input type="text" id="name" class="form-control" (keydown)="onKeyDown()" [(ngModel)]="drugModel.name" [ngModelOptions]="{standalone: true}" [ngClass]="drugValidation.validName"/>
          <div class="invalid-feedback">
            Input name!
          </div>
        </div>
        <div>
          <label for="code" class="text-dark mt-3" >Code of drug:</label>
          <input type="text" id="code" class="form-control" [ngClass]="drugValidation.validCode" [(ngModel)]="drugModel.code" [ngModelOptions]="{standalone: true}" (keydown)="onKeyDown()"/>
          <div class="invalid-feedback">
            Input code!
          </div>
        </div>

        <div >
          <label for="typeOfDrug" class="text-dark mt-3" >Select type of drug:</label>
          <select class="custom-select form-control w-100" id="typeOfDrug" (change)="onChangeTypeOfDrug($event)" [ngClass]="drugValidation.validTypeOfDrug">
            <option value="Choose..." selected>Choose...</option>
            <option *ngFor="let typeOfDrug of typesOfDrug" [value]="typeOfDrug">{{typeOfDrug}}</option>
          </select>

          <div class="invalid-feedback">
            Select type of drug!
          </div>

        </div>

        <div>
          <label for="formOfDrug" class="text-dark mt-3" >Select form of drug:</label>

          <select class="custom-select form-control w-100" id="formOfDrug" (change)="onChangeFormOfDrug($event)" [ngClass]="drugValidation.validFormOfDrug">
            <option value="Choose..." selected>Choose...</option>
            <option *ngFor="let formOfDrug of formsOfDrug" [value]="formOfDrug">{{formOfDrug}}</option>
          </select>

          <div class="invalid-feedback">
            Select type of drug!
          </div>
        </div>

        <div>
          <label for="manufacturers" class="text-dark mt-3" >Manufacturers:</label>
          <select class="custom-select form-control w-100" id="manufacturers" (change)="onChangeManufacturer($event)" [ngClass]="drugValidation.validManufacturer">
            <option value="Choose..." selected>Choose...</option>
            <option *ngFor="let item of manufacturers" [value]="item.manufacturerId">{{item.name}}</option>
          </select>

          <div class="invalid-feedback">
            Select manufacturers!
          </div>
        </div>



        <div class="row mb-4">
          <div class="col-6">
            <label for="issuanceRegime" class="text-dark mt-3" >Status:</label>

            <select class="custom-select form-control w-100" id="issuanceRegime" (change)="onChangeIssuanceRegime($event)" [ngClass]="drugValidation.validIssuanceRegime">
              <option value="Choose..." selected>Choose...</option>
              <option value="With recipe">With recipe</option>
              <option value="Without recipe">Without recipe</option>
            </select>

            <div class="invalid-feedback">
              Select type of drug!
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <label for="dailyDose" class="text-dark mt-3" >Daily dose:</label>
                <input type="number" id="dailyDose" class="form-control" [ngClass]="drugValidation.validDailyDose" [(ngModel)]="drugModel.dailyDose" [ngModelOptions]="{standalone: true}" (keydown)="onKeyDown()"/>
                <div class="invalid-feedback">
                  Dose > 0!
                </div>

              </div>
              <div class="col-6">
                <label for="points" class="text-dark mt-3" >Points:</label>
                <input type="number" id="points" class="form-control" [ngClass]="drugValidation.validPoints" [(ngModel)]="drugModel.points" [ngModelOptions]="{standalone: true}" (keydown)="onKeyDown()"/>
                <div class="invalid-feedback">
                  Points > 0!
                </div>
              </div>


            </div>

          </div>
        </div>

        <div class="row border border-dark">
          <div class="col-6">
            <label for="note" class="text-dark mt-3 " >Added:</label>

            <div *ngIf="drugModel.contraindication.length == 0">
              <p class="text-dark">No contraindications for drug!</p>
            </div>
            <div *ngIf="drugModel.contraindication.length > 0" >
              <div class="row" *ngFor="let item of showAddContraindication">
                <div class="col-6 mt-1">
                  <p class="text-dark align-middle">{{item.name}}</p>
                </div>
                <div class="col-6">
                  <button class="btn btn-danger" (click)="deleteContraindication(item.contraindicationId)" >Delete</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-6">
            <label for="contraindications" class="text-dark mt-3" >Contraindication:</label>
            <select class="custom-select form-control " id="contraindications" (change)="onChangeContraindication($event)" [ngClass]="drugValidation.validContraindication">
              <option value="Choose..." selected>Choose...</option>
              <option *ngFor="let item of showContraindication;" [value]="item.contraindicationId">
                {{item.name}}
              </option>
              <option value="Create new">Create new</option>
            </select>
            <div class="invalid-feedback">
              Input contraindication!
            </div>

            <button class="btn btn-success w-100 mt-2 mb-2 mr-4" (click)="addContradiction()">Add to contraindication</button>
            <div class="invalid-feedback">
              Select contraindication!
            </div>

            <div *ngIf="selectedContraindication === 'Create new'">
              <label for="newContraindication" class="text-dark" >Name of contraindication:</label>
              <input type="text" id="newContraindication" class="form-control" (keydown)="onKeyDown()" [(ngModel)]="newContraindication" [ngModelOptions]="{standalone: true}" [ngClass]="drugValidation.validNewContraindication"/>
              <div class="invalid-feedback">
                Input contraindication!
              </div>
              <button class="btn btn-success w-100 mt-2 mb-2 mr-4" (click)="addNewContraindication()">Add new contraindication</button>
            </div>
          </div>
        </div>


        <div class="row border border-dark">
          <div class="col-6">
            <label for="note" class="text-dark mt-3 " >Added:</label>

            <div *ngIf="drugModel.ingredients.length == 0">
              <p class="text-dark">No ingredients for drug!</p>
            </div>
            <div *ngIf="drugModel.ingredients.length > 0" >
              <div class="row" *ngFor="let item of showAddIngredients">
                <div class="col-6 mt-1">
                  <p class="text-dark align-middle">{{item.name}}</p>
                </div>
                <div class="col-6">
                  <button class="btn btn-danger" (click)="deleteIngredient(item.ingredientId)" >Delete</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <label for="ingredients" class="text-dark mt-3" >Ingredients:</label>
            <select class="custom-select form-control " id="ingredients" (change)="onChangeIngredient($event)">
              <option value="Choose..." selected>Choose...</option>
              <option *ngFor="let item of showIngredients;" [value]="item.ingredientId">
                {{item.name}}
              </option>
              <option value="Create new">Create new</option>
            </select>
            <button class="btn btn-success w-100 mt-2 mb-2 mr-4" (click)="addIngredient()">Add to ingredients</button>
            <div class="invalid-feedback">
              Select ingredients!
            </div>

            <div *ngIf="selectedIngredient === 'Create new'">
              <label for="newIngredient" class="text-dark" >Name of ingredient:</label>
              <input type="text" id="newIngredient" class="form-control" (keydown)="onKeyDown()" [(ngModel)]="newIngredient" [ngModelOptions]="{standalone: true}" [ngClass]="drugValidation.validNewIngredient"/>
              <div class="invalid-feedback">
                Input ingredient!
              </div>
              <button class="btn btn-success w-100 mt-2 mb-2 mr-4" (click)="addNewIngredient()">Add new contraindication</button>
            </div>
          </div>
        </div>






        <div class="row border border-dark">
          <div class="col-6 ">
            <label for="note" class="text-dark mt-3 " >Added:</label>

            <div *ngIf="drugModel.substituteDrug.length == 0">
              <p class="text-dark">No substitute drugs!</p>
            </div>
            <div *ngIf="drugModel.substituteDrug.length > 0" >
              <div class="row" *ngFor="let item of showSubstituteDrugs">
                <div class="col-6 mt-1">
                  <p class="text-dark align-middle">{{item.name}}</p>
                </div>
                <div class="col-6">
                  <button class="btn btn-danger" (click)="deleteSubstituteDrug(item.id)" >Delete</button>
                </div>
              </div>
            </div>

          </div>
          <div class="col-6">
            <label for="substituteDrug" class="text-dark mt-3" >Substitute drugs:</label>
            <select class="custom-select form-control " id="substituteDrug" (change)="onChangeSubstituteDrug($event)">
              <option value="Choose..." selected>Choose...</option>
              <option *ngFor="let item of showDrugs;" [value]="item.id">
                {{item.name}}
              </option>
            </select>
            <button class="btn btn-success w-100 mt-2 mb-2 mr-4" (click)="addSubstitute()">Add to substitute</button>
            <div class="invalid-feedback">
              Select drug!
            </div>
          </div>
        </div>

        <div>
          <label for="note" class="text-dark mt-3" >Note:</label>
          <textarea id="note" class="form-control" aria-label="note" [ngClass]="drugValidation.validNote" [(ngModel)]="drugModel.note" [ngModelOptions]="{standalone: true}"></textarea>
        </div>


        <button class="btn btn-dark mt-3 w-100" (click)="createDrug()">Create new drug</button>

      </form>
    </div>
  </div>

  <ngx-loading-x  [show]="sendDate || fetchDrugs || fetchContradiction || fetchIngredient || fetchManufacturer"></ngx-loading-x>



</div>
