<section id="examination" class="d-flex align-items-center">
    <div class="container">
      <h1> Performing an examination </h1>
    </div>
</section>
<main id="main">
    <section id="examinationInfo" class="examinationInfo">
        <div class="container">
            <div id="chooseAction" name="chooseAction" class="section-title">
                <h2>Perform an examination</h2>
                <p>Enter your opinion</p>
            </div>
            <div class="row">
                <div class="col-lg-12 m-5">
                  <div class="member">
                    <div class="form-group">
                        <label for="textAreaNote">Give your opinion about patient health state: </label>
                        <textarea class="form-control" [(ngModel)]="note" [ngModelOptions]="{standalone: true}" id="textAreaNote" rows="12"></textarea>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section id="medicines" class="examinationInfo">
        <div class="container">
            <div id="prescribeMedicines" name="prescribeMedicines" class="section-title">
                <h2>Medicines</h2>
                <p>Prescribe therapy to patient</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row d-flex justify-content-center border pt-4" *ngFor="let drug of drugList"> 
                        <div class="col-3  ">
                            <img src="/assets/img/medicalstuff_icons/medicine.png" class="img-responsive fit-image " style="max-width: 100%;" alt="orderIcon">
                        </div>
                        <div class="col-5 ">
                            <div class="row">
                                <label>Name: {{drug.name}} </label>
                                <div>
                                    <label>Type of drug: {{drug.typeOfDrug}} </label>
                                    <label>Manufacturer: {{drug.manufacturer.name}} </label>
                                 </div>
                                 <label>Issuance regime: {{drug.issuanceRegime}} </label>
                                <p> {{drug.note}}</p>
                            </div>
                        </div>
                        <div class="col-3 align-items-center">
                            <button class="btn btn-dark mt-3 w-100" (click)="prescribeDrug(drug.name, content)">Prescribe</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row d-flex justify-content-center border pt-4" *ngFor="let drug of prescribedDrugs"> 
                        <div class="col-3  ">
                            <img src="/assets/img/medicalstuff_icons/medicine.png" class="img-responsive fit-image " style="max-width: 100%;" alt="orderIcon">
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <label>Name: {{drug.name}} </label>
                                <div>
                                    <label>Type of drug: {{drug.typeOfDrug}} </label>
                                    <label>Manufacturer: {{drug.manufacturer.name}} </label>
                                 </div>
                                 <label>Issuance regime: {{drug.issuanceRegime}} </label>
                                <p> {{drug.note}}</p>
                            </div>
                        </div>
                        <div class="col-3 align-items-center">
                            <button class="btn btn-dark mt-3 w-100"(click)="removeDrug(drug.name, content)">Remove </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row d-flex flex-row-reverse">
                <div class ="col-auto">
                    <label for="duration">Choose therapy duration in days</label>
                    <input type="number" min="1" id="duration" [(ngModel)]="therapyDuration" [ngModelOptions]="{standalone: true}"  class="form-control"/>
                </div>
                
            </div>
        </div>
    </section>
    <section id="scheduling" class="actions">
        <div class="container">
    
          <div id="schedule" name="schedule" class="section-title">
            <h2>Schedule new appointment</h2>
            <p>Allows you to schedule new appointment for current patient</p>
          </div>
    
          <div class="d-flex flex-row-reverse justify-content-center">
                <div data-toggle="collapse" data-target="#demo" class="member d-flex align-items-center button-div">
                    <div class="pic"><img src="assets/img/medicalstuff_icons/examination.png" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Expand/collapse schedule form</h4>
                    </div>
                </div>
            <div id="demo" class="collapse examination-input-div request">
                <div class="row">
                    <div class="col-md-3 request-left">
                      <img src="/assets/img/medicalstuff_icons/examination.png" alt=""/>
                      <h3>Schedule appointment</h3>
                      <p>Schedule new dermatologist examination for current patient</p>
                    </div>
                    <div class="col-md-9 request-right">
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                          <h3 class="request-heading">Fill a new appointment form</h3>
                          <div class="row request-form ">
                            <div class="col-md-12">
                                Appointment scheduling mode:
                                <div class="custom-control custom-radio">
                                    <input id="chooseExisting" type="radio" class="custom-control-input" value="existing_term" [checked]="!newTermFlag" (click) = "chooseExisting()" name="mode">
                                    <label class="custom-control-label" for="chooseExisting">Choose existing term</label>
                                 </div>
                                 <div class="custom-control custom-radio">
                                    <input id="createNew" type="radio" class="custom-control-input" [checked]="newTermFlag" value="new_term" (click) = "chooseNew()" name="mode">
                                    <label class="custom-control-label" for="createNew">Create new term</label>
                                 </div>
                                 <div class = "form-group" [hidden] = "newTermFlag">
                                    <select (change)="onChange($event)" class="form-control">
                                        <option class="hidden" value="Select existing term"></option>
                                        <option *ngFor="let term of termList">{{term}}</option>
                                    </select>
                                 </div>
                                <div class="form-group" [hidden] = "!newTermFlag">
                                    Select the appointment date:
                                    <input type="date" (change)="changeDate($event)" [(ngModel)]="dateStr" [ngClass]="dateValidity" class="form-control" >
                                    <div class="invalid-feedback">
                                        The date can not be in the past!
                                    </div>
                                </div>
                                <div class="form-group" [hidden] = "!newTermFlag">
                                    Select the appointment time:
                                    <input type="time" (change)="changeTime($event)" [(ngModel)]="timeStr" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btnrequest" (click)="scheduleAppointment()" [disabled]="!inputsValid" value="Schedule"/>
                                </div>
                            </div>
                          </div>
                          </div>
                          </div>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    <div class="container p-5 action">
        <div class="row align-items-center">
            <button (click)="submitForm()" class="btn-dark w-100">Submit</button>
        </div>
</div>
</main>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Substitute medicaments</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body overflow-auto">
        <h4 *ngIf="substituteDrugs.length == 0">Sorry, the medicament is out of stock and there are no substitute medicaments in this moment</h4>
        <h4 *ngIf="substituteDrugs.length != 0">Sorry, the requested medicament is not available there are few substitute:</h4>
        <div class="row d-flex justify-content-center border pt-4" *ngFor="let drug of substituteDrugs"> 
            <div class="col-3  ">
                <img src="/assets/img/medicalstuff_icons/medicine.png" class="img-responsive fit-image " style="max-width: 100%;" alt="orderIcon">
            </div>
            <div class="col-5 ">
                <div class="row">
                    <label>Name: {{drug.name}} </label>
                    <div>
                        <label>Type of drug: {{drug.typeOfDrug}} </label>
                        <label>Manufacturer: {{drug.manufacturer.name}} </label>
                     </div>
                     <label>Issuance regime: {{drug.issuanceRegime}} </label>
                    <p> {{drug.note}}</p>
                </div>
            </div>
            <div class="col-3 align-items-center">
                <button class="btn btn-dark mt-3 w-100" (click)="prescribeDrug(drug.name, content)">Prescribe</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Close</button>
    </div>
  </ng-template>
