<div class="container p-5" *ngIf="offers.length > 0" >
  <div>
    <h1 class="d-flex justify-content-center font-weight-bold text-dark m-4">My offers:</h1>
  </div>

  <div class="ml-3">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="waitingForOffers" [(ngModel)]="waitingChecked" [ngModelOptions]="{standalone: true}" [checked]="waitingChecked" (change)="onChangeCheckBox()" />
      <label class="form-check-label" for="waitingForOffers" >Waiting for offers</label>
    </div>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="accepted" [(ngModel)]="acceptedChecked" [ngModelOptions]="{standalone: true}" [checked]="acceptedChecked" (change)="onChangeCheckBox()" />
      <label class="form-check-label" for="accepted">Accepted</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="declined" [(ngModel)]="declinedChecked" [ngModelOptions]="{standalone: true}" [checked]="declinedChecked" (change)="onChangeCheckBox()" />
      <label class="form-check-label" for="declined">Declined</label>
    </div>
  </div>


  <div class="border border-dark rounded m-3"  *ngFor="let item of showOffers">
    <div class="d-flex">
      <div class="p-3 w-50">
        <h6 class="font-weight-bold text-dark pb-3">Pharmacy:</h6>
        <div class="row">

          <div class="col-6">
            <label class="text-dark"> Name:</label>
          </div>
          <div class="col-6">
            <label class="text-dark">{{item.pharmacyObject.name}}</label>
          </div>

          <div class="col-6">
            <label class="text-dark"> Mark:</label>
          </div>
          <div class="col-6">
            <label class="text-dark">{{item.pharmacyObject.averageMark}}</label>
          </div>

          <div class="col-6">
            <label class="text-dark"> Status:</label>
          </div>
          <div class="col-6">
            <label class="text-dark">{{item.status}}</label>
          </div>

          <div class="col-6">
            <label class="text-dark"> Deadline:</label>
          </div>
          <div class="col-6">
            <label class="text-dark">{{getDate(item.deadline)}}</label>
          </div>

        </div>
      </div>

      <div class="p-3 ml-5">
        <h6 class="font-weight-bold text-dark pb-3">List of drugs:</h6>
        <div *ngFor="let drugItem of item.drugOrder.drugOrderItems">
          <div class="row">
            <div class="col-8"><p>{{drugItem.drug.name}}</p></div>
            <div class="col-4"><p>{{drugItem.quantity}}</p></div>

          </div>

        </div>
      </div>



      <div class="border-left border-dark ml-auto p-3" *ngIf="item.status === 'waiting' && canChange(item.drugOrder.deadline)">
        <form>
          <h5 class="font-weight-bold text-success mt-2 mb-2">Current price: {{item.price}}</h5>
          <div>
            <label for="price" class="text-dark" >New price:</label>
            <input type="text" id="price" class="form-control" [ngClass]="offerValidation.validPrice" [(ngModel)]="item.newPrice" [ngModelOptions]="{standalone: true}"/>
            <div class="invalid-feedback">
              Input price!
            </div>
          </div>

          <input class="btn btn-success w-100 mt-2" type="button" value="Change price" (click)="changePrice(item)"/>
        </form>
      </div>
    </div>

  </div>
</div>


<div *ngIf="offers.length == 0">
  <h1 class="d-flex justify-content-center font-weight-bold text-dark m-4">No offer by this user!</h1>
</div>


<ngx-loading-x  [show]="filtering"></ngx-loading-x>

