<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
  <div class="container">
    <div id="medicalstuff" name = "medicalstuff" class="section-title">
      <h2 style="margin-top: 60px;">Available pharmacists in {{name}} on {{date}} at {{time}}</h2>
      <button style="margin-top: 20px" class = "btn-outline-secondary"> Sort by average mark </button>
    </div>
    <div class="row" >
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4></h4>
            <span>Pharmacist</span>
            <p>Phone number: </p>
            <p>Email:</p>
            <p>Average mark: </p>
            <button style="margin-top: 20px" class = "btn-outline-secondary"> Schedule consultations </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
