
<div class="container p-5">
    <div class="row">
        <div class="col d-flex align-items-center m-5">
            <form class="form-control-feedback w-100">
            <h2 class="d-flex justify-content-center text-dark">Change your password</h2>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-8">
                <div>
                    <label for="NewPassword" class="text-dark">Enter new password</label>
                    <input type="password" class="form-control" required="true" id="NewPassword" [ngClass]="newValid" [(ngModel)]="passwordWrapper.password" [ngModelOptions]="{standalone: true}" (keyup)="onKeyDownNew()" (keydown)="onKeyDownNew()"/>
                    <div class="invalid-feedback">
                    Password must contain at least 6 characters:
                    <ul>
                        <li>One upper-case character</li>
                        <li>One lower-case character</li>
                        <li>One special character (@#$%^&+=)</li>
                        <li>One digit (0-9)</li>
                    </ul>
                    </div>
                </div>
                <div>
                    <label for="ConfirmPassword" class="text-dark">Confirm new password</label>
                    <input type="password" class="form-control" required="true" id="ConfirmPassword" [ngClass]="confValid" [(ngModel)]="confPassword" [ngModelOptions]="{standalone: true}" (keyup)="onKeyDownConf()" (keydown)="onKeyDownConf()"/>
                    <div class="invalid-feedback">
                    Confirmation password must matches the new password
                    </div>
                </div>
                <div>
                    <label class="pt-3 text-dark" for="OldPasword">Enter old password</label>
                    <input type="password" class="form-control" required="true" id="OldPasword" [ngClass]="oldValid" [(ngModel)]="passwordWrapper.oldPassword" [ngModelOptions]="{standalone: true}" (keyup)="onKeyDownOld()" (keydown)="onKeyDownOld()"/>
                    <div class="invalid-feedback">
                    The field cannot be blank
                    </div>
                </div>
                <button  type="submit" class="btn btn-dark mt-3 w-100" [disabled]="buttonDisabled" (click)="onClick()">Change password</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>