<div class="row py-5 px-4">
  <div class="col-md-5 mx-auto">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <div class="profile mr-3"><img src="assets/img/doctors/doctors-4.jpg" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="/changeAccountInfo" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
          <div class="media-body mb-5 text-white" >
            <h4 class="mt-0 mb-0">{{patient.name}} {{patient.lastName}} </h4>
            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{patient.cityName}}, {{patient.countryName}}</p>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a title="See your Appointments" href="/patient#appointments"><img title="See your Appointments" src="/assets/img/appointment.png" ></a>
          </li>
          <li class="list-inline-item">
            <a title="See your ERecipes" href="/patient#erecepies"> <img title="See your ERecipes" src="/assets/img/recipe.png" ></a>
          </li>
          <li class="list-inline-item">
            <a title="See your Allergies" href="/patient#allergies"> <img alt="See your medications" src="/assets/img/drugs.png" ></a>
          </li>
          <li class="list-inline-item">
            <a title="See your Pharmacies" href="/patient#pharmacies"> <img alt="See your Pharmacies" src="/assets/img/pharmacy.png" ></a>
          </li>
        </ul>
      </div>
    </div>
      <!--  PERSONAL INFORMATIONS -->
      <div class="px-4 py-3">
        <h5 class="mb-0">Personal informations</h5>
        <div class="p-4 rounded shadow-sm bg-light">
          <p class="font-italic mb-0">Account category: {{accountCategory.category}}</p>
          <p class="font-italic mb-0">Points: {{accountCategory.points}}</p>
          <p class="font-italic mb-0">Number of penalties: {{penalties}}</p>
          <p style="color: red" class="font-italic mb-0" *ngIf="penalties > 2" > Warning if you make another penalty your account will be freezzed!  </p>
          <p style="color: lightyellow" class="font-italic mb-0" *ngIf="penalties > 1" > Warning please try not to make another penalty </p>
          <p style="color: lightblue" class="font-italic mb-0" *ngIf="penalties === 0" > Thank you for not making penalties</p>
          <p class="font-italic mb-0">Address: {{patient.street}} {{patient.streetNumber}} </p>
          <p class="font-italic mb-0">Email: {{patient.email}}</p>
          <p class="font-italic mb-0">Phone number: {{patient.phoneNumber}}</p>

        </div>
      </div>
      <!--  APPOINTMENTS -->
      <div >
        <div class="section-title">
          <h2>Appointments</h2>
        </div>
        <div class="container mt-5 mb-5">
          <div class="d-flex justify-content-center row">
            <div class="col-md-10">
              <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/appointment.png"></div>
                <div class="col-md-6 mt-1">
                  <h5>Pharmacist Consultation</h5>
                  <div class="mt-1 mb-1 spec-1"><span></span>Finished<span class="dot"></span><span> 11.01.2021.</span><span class="dot"></span><span><br></span></div>
                  <div class="mt-1 mb-1 spec-1"><span>Dr.</span><span class="dot"></span><span> Aca</span><span class="dot"></span><span> Simic<br></span></div>
                  <p class="text-justify text-truncate para mb-0">Description<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                  <h6 class="text">Actions</h6>
                  <div class="d-flex flex-column mt-4"><button class="btn btn-secondary btn-sm" type="button">Details</button><button class="btn btn-outline-secondary btn-sm mt-2" type="button">Leave a comment</button></div>
                </div>
              </div>
              <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/appointment.png"></div>
                <div class="col-md-6 mt-1">
                  <h5>Dermatologist Examination</h5>
                  <div class="mt-1 mb-1 spec-1"><span></span>Unfinished<span class="dot"></span><span> 21.02.2021.</span><span class="dot"></span><span><br></span></div>
                  <div class="mt-1 mb-1 spec-1"><span>Dr.</span><span class="dot"></span><span> Aca</span><span class="dot"></span><span> Simic<br></span></div>
                  <p class="text-justify text-truncate para mb-0">Description<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                  <h6 class="text">Actions</h6>
                  <div class="d-flex flex-column mt-4"><button class="btn btn-secondary btn-sm" type="button">Details</button><button class="btn btn-outline-secondary btn-sm mt-2" type="button">Leave a comment</button></div>
                </div>
              </div>
            </div>
        </div>
          <button style="margin-top: 20px; margin-left: 55px" class="btn" (click)="alert()" >Make new appointment<img style="margin-left: 5px" src="assets/img/add.png"></button>

        </div>
      </div>
          <!--  ERECEPIES -->
          <div id="erecepies" style="margin-top: 50px" class="section-title">
            <h2>ERecepies</h2>
          </div>
          <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
              <div class="col-md-10">
                <div class="row p-2 bg-white border rounded">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/recipe.png"></div>
                  <div class="col-md-6 mt-1">
                    <h5>ERecipe 1</h5>
                    <div class="mt-1 mb-1 spec-1"><span></span>Date of Issuing: <span class="dot"></span><span> 11.01.2021.</span><span class="dot"></span><span><br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Drugs: </span><span class="dot"></span><span> Aspirin </span><span class="dot"></span><span> Brufen <br></span></div>
                    <p class="text-justify text-truncate para mb-0">Quantity: 3<br><br></p>
                  </div>
                  <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <h6 class="text">Actions</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-secondary btn-sm" type="button">Details</button><button class="btn btn-outline-secondary btn-sm mt-2" type="button">Leave a comment</button></div>
                  </div>
                </div>
                <div class="row p-2 bg-white border rounded">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/assets/img/recipe.png"></div>
                  <div class="col-md-6 mt-1">
                    <h5>ERecipe 2</h5>
                    <div class="mt-1 mb-1 spec-1"><span></span>Date of Issuing: <span class="dot"></span><span> 11.01.2021.</span><span class="dot"></span><span><br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Drugs: </span><span class="dot"></span><span> Aspirin </span><span class="dot"></span><span> Brufen <br></span></div>
                    <p class="text-justify text-truncate para mb-0">Quantity: 3<br><br></p>
                  </div>
                  <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <h6 class="text">Actions</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-secondary btn-sm" type="button">Details</button><button class="btn btn-outline-secondary btn-sm mt-2" type="button">Leave a comment</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  MEDICATIONS -->
    <section id="allergies" class="medical">
      <div class="section-title">
        <h2>Medications you are alergic to </h2>
      </div>
      <div class="wrapper">
        <div class="container text-center"  >
          <div class="row main-row row-cols-3 row-cols-md-3 g-3" >
            <div class="col-sm-4" *ngFor="let allergy of allergies">
              <div style="margin-top: 10px" class="card p-3">
                <div class="text-center"> <img src="/assets/img/drugPatient.jpg" width="200"> </div>
                <div class="product-details"> <span class="font-weight-bold d-block">{{allergy.name}}</span> <span></span>
                  <div class="buttons d-flex flex-row">
                    <button  class="btn btn-success cart-button btn-block"><span class="dot">1</span>Allegic</button>
                  </div>
                  <div class="weight"> <small>{{allergy.formOfDrug}} {{allergy.typeOfDrug}} {{allergy.issuanceRegime}}</small> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button style="margin-top: 20px; margin-left: 15px" class="btn" data-toggle="modal" data-target = "#addAllergy" >Add allergies<img style="margin-left: 5px" src="assets/img/add.png"></button>
      </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="addAllergy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add medication you are alegic to</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group"  >
                  <select  class="custom-select form-control" (change)="onSelect($event)"    >
                    <option>Choose drug</option>
                    <option *ngFor="let drug of drugList">{{drug.name}}</option>
                  </select>
              </div>
              <input class = "btn btn-secondary"  data-dismiss="modal" (click)="addAllergy()"  type="submit">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class = "container" >
      <div id="pharmacies" style="margin-top: 50px; margin-bottom: 20px" class="section-title">
        <h2>Pharmacies</h2>
      </div>
      <div class = "row main-row row-cols-1 row-cols-sm-3 g-4" >
        <div lass = "col-12">
          <div class = "card p-1 text-center" style = "width: 20rem">
            <img src="/assets/img/pharmacy.jpg" class = "card-img-top shadow bg-white rounded">
            <h5 class ="card-title>">Apoteka 1</h5>
            <div class = "card-body">
              <p class = "card-text">Average mark 8.6 </p>
              <a class="btn-secondary"  class = "btn btn-outline-dark">See additional info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


