<div class="container p-5" >
  <div class="">
    <div class="text-monospace d-flex justify-content-center">
      <p class="text-monospace">Join with Us</p>
    </div>
    <div>
      <h1 class="d-flex justify-content-center font-weight-bold text-dark">Create your account</h1>
    </div>

    <div class="d-flex justify-content-center pt-4">
      <form class="form-control-feedback w-50">
        <label for="firstName" class="text-dark" >Name:</label>
        <input type="text" id="firstName" class="form-control"/>
        <label for="firstName" class="text-dark" >Name:</label>
        <label for="firstName" class="text-dark" >Name:</label>
        <label for="firstName" class="text-dark" >Name:</label>
      </form>
    </div>
  </div>

</div>
