<nav class="navbar navbar-dark bg-dark nav-pills ">
  <div class="container-fluid nav" >
    <div class="row align-items-center">
      <a class="navbar-brand ml-2" href="/">
        <img class="logo ml-3" src="/assets/img/logo.png" height="22" width="20" alt="Logo"/>
        Pharmacy
      </a>
      <a class="nav-item nav-link ml-2 mr-2 text-light" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class=" nav-link pr-3 pl-3 mr-3 text-light" routerLink="/pharmacy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pharmacies</a>
    </div>
    <div class="d-flex justify-content-end">
      <a class=" nav-link pr-3 pl-3 mr-3 text-light" *ngIf="!this.authService.isLoggedIn" routerLink="/registration" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sing up</a>
      <a class=" nav-item nav-link pr-3 pl-3 text-light" *ngIf="!this.authService.isLoggedIn" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sing in</a>
      <a class=" nav-item nav-link pr-3 pl-3 text-light" *ngIf="this.authService.isLoggedIn" (click)="onLogout()">Logout</a>
    </div>
  </div>
</nav>
